
/*Single Listing*/
.single-listing-icon, .single-listing-meta {font-size:20px;}
.icon-small {font-size:16px;}
.icon-medium{font-size:24px;}


/*Archive Pages*/
.listing-archive-header{padding-bottom:18px;}